@media (max-width: 600px)
{
  body{
  }

  .grid{
      display: inline-block;
      width: 100%;
  }
  .card-container{
      width: 375px;
  }
  .card-container{
      width: 85%;
  }
  .second-card{
      border-radius: 0px;
  }
  .second-card-info{
      font-size:16px
  }
  .button{
      width: 90%;
  }
  .third-card{
    border-radius: 0px 0px 8px 8px;
  }
  .third-card-title{
      margin-left: 12px;
  }
  .third-card-info{
      margin-bottom: 0px;
  }
}