*{
    margin: 0;
    padding: 0;
}
body{
    /* width: 1440px; */
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;

    background-color: hsl(204, 43%, 93%);
}


.card-container{
    width: 550px;
    /* height: 390px; */
    margin: 0 auto;
    margin-top:100px;
    margin-bottom: 100px; 

    /* border: 1px  solid black; */
    border-radius: 8px;

    /* box-sizing: border-box; */
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
.top-card{
    /* border-bottom: 1px  solid black; */
    padding: 6%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px  8px 0px 0px ;
}

.top-card-title{
  margin-bottom: 15px;
  color:hsl(179, 62%, 43%);
  font-weight: 700;
  font-family: Karla;
}
.top-card-subtitle{
    margin-bottom: 15px;
    color:hsl(71, 73%, 54%);
    font-weight: 400;
    font-family: Karla;

}
.top-card-info{
    color:hsl(218, 22%, 67%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: Karla;
 }
.grid{
    width: 550px;
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 50% 50%;

}
.second-card{
    /* box-sizing: border-box;
    padding: 15%; */
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 8px;
}
.second-card-title{
    color:hsl(204, 43%, 93%);
    font-weight: 700; 
    font-size: 16px;
    /* margin-bottom: 15px;
    box-sizing: border-box; */

    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 15px;
}
strong{
    color:hsl(204, 43%, 93%);
    font-size: 30px;

    margin-top: 40px;
    margin-left: 30px;
}
 .pricing-info{
    color:lightblue;
    margin-bottom: 5px;
    font-weight: 400;
} 

.second-card-info{
    margin-top: 5px;
    margin-bottom: 5px;
    color: hsl(204, 43%, 93%);
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;   
    display: inline-block;
}

.button{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 207px;
    padding: 15px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color:hsl(204, 43%, 93%);
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    
}
.third-card{
    /* box-sizing: border-box;
    padding: 15%; */
    background-color: hsl(181, 53%, 60%);
    border-radius: 0px 0px 8px 0px;
    
}
.third-card-title{
    color:hsl(204, 43%, 93%);
    font-weight: 700; 
    font-size: 16px;

    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.third-card-info{
    list-style: none;
    
    color: hsl(204, 43%, 93%);
    font-size: 14px;
    
    margin-bottom: 5px; 
    margin-left: 30px;

}
li{
    margin-bottom: 3px;
}








.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }